{% extends 'homeBase.html' %}
{% block uploadForm %}
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" class="form-control" id="inputGroupFile01" name="photo" style="width: 270px; margin-right: auto; margin-left: auto;">
    <div class="input-group input-group-sm mb-3" style="width: 270px; margin-right: auto; margin-left: auto;padding-top: 1%;">
      <span class="input-group-text" id="user">Name</span>
      <input type="text" class="form-control" name='user'>
    </div>
    <input type="submit", class='btn btn-danger' value='Upload'>
  </form>
{% endblock %}